.board {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  grid-template-rows: repeat(2, 100px);
  row-gap: 10px;
  column-gap: 10px;
}


.card-back {
  background-color: red;
}

.card-front {
  background-color: blue;
}

